<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <link rel="stylesheet" href="style2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="hero">
        <div class="back"></div>
        <div class="radial"></div>
        <div class="content">Sentiment Analysis Of Nepali Text</div>
        <div class="textbox">
          <div class="input">
            <form class="text" action="/process_text" method="post">
              <input
                class="box"
                type="text"
                name="search"
                placeholder="Enter your text here"
              />
              <button type="submit">Analyse</button>
            </form>
          </div>
        </div>
        <div class="predict">Result</div>
      </div>
      <img
        class="star"
        src="https://cdn-www.dora.run/__dora__/morpheus/static/images/ai/bg-star.png"
      />
      <img
        class="star2"
        src="https://cdn-www.dora.run/__dora__/morpheus/static/images/ai/bg-star.png"
      />
    </div>
  </body>
</html>
